/****************
* Global
****************/
body { font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif; color: black; background-color: #ACB2B5; text-align: center; margin: 0 auto; width: 900px; }
table, fieldset { margin: 0 auto; }
/****************
* Layout
****************/
#content { margin: 0 auto; padding: 20px; text-align: left; background-color: white; }
#user-info { float: right; border: 1px solid grey; padding: 10px; }
/****************
* User defined
****************/
ul.error { list-style: none; }
ul.error li { text-align: center; color: red; }
ul.error li.ok { color: green; }
span.node-t { margin-left: 20px; background-image: url(../images/node.gif); display: block; width: 25px; height: 25px; }
span.node-n { margin-left: 27px; display: block; width: 1px; height: 25px; border-left: 1px solid grey; }
span.node-l { margin-left: 20px; background-image: url(../images/node_last.gif); display: block; width: 25px; height: 25px; }
.cleaner { font-size: 0; line-height: 0; height: 0; clear: both; }